@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-pink-50: hsl(326 67% 96%);
  --color-pink-100: hsl(326 67% 90%);
  --color-pink-200: hsl(326 60% 84%);
  --color-pink-300: hsl(326 55% 76%);

  --color-lavender-50: hsl(262 45% 92%);
  --color-lavender-100: hsl(262 45% 80%);
  --color-lavender-200: hsl(262 40% 70%);
  --color-lavender-300: hsl(262 35% 60%);

  --color-grayish-50: hsl(240 3% 94%);
  --color-grayish-100: hsl(240 3% 80%);
  --color-grayish-200: hsl(240 3% 65%);
  --color-grayish-300: hsl(240 3% 56%);
  --color-grayish-400: hsl(240 3% 40%);

  --color-sky-50: hsl(210 78% 92%);
  --color-sky-100: hsl(210 78% 79%);
  --color-sky-200: hsl(210 78% 65%);
}

@layer base {
  html {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.1em;
  }

  .input-box {
    @apply relative grid items-center;
  }

  .input-box {
    input {
      @apply focus:outline-none p-2 rounded-full ring-2 ring-white;
    }
  }
  .record-input {
    @apply focus:outline-none p-2 rounded-sm ring-2 ring-black text-black;
  }

  .global-button {
    @apply grid p-2 m-2 bg-white text-black cursor-pointer rounded-full shadow-[0px_4px_6px_0px_rgba(0,_0,_0,_0.1)] hover:opacity-80;
  }

  .sales-table {
    th {
      @apply px-6 py-3;
    }
  }

  .sales-table {
    td {
      @apply px-6 py-3;
    }
  }
}
